@import url('https://fonts.googleapis.com/css2?family=Modak&family=Poppins:wght@300;500;600&family=Rubik:wght@700&display=swap');

/* font-family: 'Modak', cursive;
font-family: 'Poppins', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.header {
    position: relative;
    max-width: 100%;
    flex: 0 0 100%;
    top: 0;
    margin-bottom: 2em;
    height: 544px;
    box-shadow: rgba(224, 209, 209, 0.3);
}

.header-img {
    max-width: 100%;
}

.header_cntnt-wrap {
    position: absolute;
    left: 10%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 544px;
}

.color-text {
    color: #2AA2DF;
}

.header-text {
    max-width: 429px;
    height: 129px;
}

.header-text h1 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    margin-top: 4em;
    margin-bottom: 4em;
}

p {
    font-family: 'Poppins', sans-serif;    
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}

.brand-logo h2 {
    font-family: 'Modak', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 27.7073px;
    line-height: 42px;
    letter-spacing: 0.05em;
    color: #2AA2DF;
}

.notify_me-wrap {
    margin-top: 10em;
    align-self: flex-end;
}

.notify_me-wrap p {
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: left;
}

.btn-submit {
    width: 90.29px;
    height: 56px;
    background: #2AA2DF;
    border-radius: 10px;
}

.input {
    width: 300px;
    height: 56px;
    border-radius: 10px;
}

.arrow-right {
    color: #FFFFFF;
    height: 20.15px;
    max-width: 39px;
}

#sec1 {
    position: relative;
    margin-top: 25em;
    max-width: 100%;
}

.elements1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.elements2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 78%;
    margin-right: auto;
    margin-left: auto;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #252525;
    margin-top: 1em;
}

.sec1-col {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.sec1-col p {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    width: 270px;
    height: 80px;
    color: #252525;
    text-align: center;
}

.sec1-svg {
    max-width: 100%;
    width: 58.46px;
    height: 60px;
}

.section-title {
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #252525;
    margin-top: 3em;
    margin-bottom: 1em;
}


/*---------------------------------------------*/
#sec2 {
    position: relative;
    margin-top: 5em;
    max-width: 100%;
}