@import url('https://fonts.googleapis.com/css2?family=Modak&family=Poppins:wght@300;500;600&family=Rubik:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header {
    position: relative;
    max-width: 100%;
    flex: 0 0 100%;
    top: 0;
    margin-bottom: 2em;
    height: 544px;
}

.overlay {
    position: absolute;
    background: #0000008a;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-img {
    width: 1400px;
    justify-self: stretch;
    height: auto;
}


.header_cntnt-wrap {
    position: absolute;
    left: 10%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 544px;
    z-index: 1;
}

.color-text {
    color: #2AA2DF;
}

.header-text {
    max-width: 429px;
    height: 129px;
}

.header-text h1 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    margin-top: 4em;
    margin-bottom: 4em;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}

.brand-logo h2 {
    font-family: 'Modak', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 27.7073px;
    line-height: 42px;
    letter-spacing: 0.05em;
    color: #2AA2DF;
}

.notify_me-wrap {
    align-self: flex-end;
    justify-self: flex-start;
    margin-top: 15rem;
}

.notify_me-wrap p {
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: left;
}

.btn-submit {
    height: 76px;
    width: 90.29px;
    background: #2AA2DF;
    border-radius: 10px;
    border-style: none;
}

.input {
    width: 541px;
    height: 76px;
    border-radius: 10px;
    padding: 20px;
    border-style: none;
    border-color: white;
}

.fa {
    color: #FFFFFF; 
    font-size: 30px;
}

/*--------------------------------*/
#sec1 {
    position: relative;
    margin-top: 5em;
    max-width: 100%;
}

.elements1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.elements2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #252525;
    margin-top: 1em;
}

.sec1-col {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.sec1-col p {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    width: 270px;
    height: 80px;
    color: #252525;
    text-align: center;
}

.sec1-svg {
    max-width: 100%;
    width: 58.46px;
    height: 60px;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #252525;
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
}


/*---------------------------------------------*/

#sec2 {
    position: relative;
    max-width: 100%;
}

.sec2-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.sec2-text {
    align-self: center;
}

.sec2-row {
    margin: 2em 0;
}


/*-------------------------------------------------*/

.sec3 {
    position: relative;
    max-width: 100%;
}

.sec3-elements {
    display: flex;
    max-width: 80%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}


/* ------------------------------------------ */

.sec4 {
    position: relative;
    max-width: 100%;
    height: 296px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EBF6F5;
    margin-top: 2em;
}

.sec4-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    padding: 10px;
}



/* On screens that are 992px wide or less*/
@media screen and (max-width: 992px) {
    .brand-logo h2 {
        margin-top: -2em;
    }
    .header_cntnt-wrap {
        justify-content: center;
    }
    .header-img {
        max-width: 100%;
        height: 544px;
    }
    .header-text h1 {
        margin-top: 2em;
    }
    .notify_me-wrap {
        margin-top: 8em;
    }
    .btn-submit {
        height: 56px;
    }

    .input {
        width: 500px;
        height: 56px;
    }
    .elements1 {
        flex-wrap: wrap;
    }
    .elements2 {
        flex-wrap: wrap;
    }
    p {
        font-size: 18px;
        line-height: 40px;
    }
    .iPhone6 {
        margin-top: 2em;
    }

    .sec4 {
        margin-top: 3em;
    }

    .sec4-elements {
        max-width: 100%;
    }


}

/* On screens that are 600px wide or less*/
@media screen and (max-width: 600px) {
    .header-text {
        width: 259.95px;
        height: 48.1px;
    }
    .header-text h1 {
        font-size: 23.4228px;
        margin-top: 3em;
    }
    .notify_me-wrap {
        margin-top: 13em;
    }
    .notify_me-wrap p {
        font-size: 18.94852px;
    }
    .btn-submit {
        width: 43.66px;
        height: 40.34px;
        border-radius: 3.72855px;
    }
    .input {
        width: 201.71px;
        height: 28.34px;
        border: 0.372855px solid #252525;
        box-sizing: border-box;
        border-radius: 3.72855px;
    }
    .fa { 
        font-size: 20px !important;
        width: 100%;
        align-self: center;
    }
    .iPhone4 {
        margin-bottom: 2em;
    }
    .section-title {
        font-size: 25px;
        line-height: 20px;
        margin-top: 2em;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }
    
    .header {
        margin-bottom: 1em;
    }

    .sec2-text {
        margin-bottom: 2em;
    }
    
    .row2 {
        display: flex;
       flex-direction: column-reverse !important;
    }

}